.item{
  position: relative;
  overflow: hidden;

  &.is-empty:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-level($base-background-color, -4);
  }

    &__img{
      display: block;
      width: 100%;
      height: auto;
    }

    &__action{
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: rem-calc(50);
      width: 100%;
      padding-left: rem-calc(halve($base-spacing-unit));
      padding-right: rem-calc(halve($base-spacing-unit));
      line-height: rem-calc(50);
      background-color: rgba($color-black, 0.4);
      text-align: center;

      &,
      &:hover{
        color: $base-text-color;
      }
      @media #{$large-up}{
        display: none;
      }

      &--view{
        display: none;

        @media #{$large-up}{
          display: block;
          top: 100%;
          bottom: auto;

          opacity: 0;
          visibility: hidden;

          transition: all 0.3s ease-out;

          .item:hover > &{
            opacity: 1;
            visibility: visible;
            transform: translate(0, -100%);
          }
        }
      }
    }
}