$color-white: #FFFFFF;
$color-gray: #DDDDDD;
$color-black: #000000;
$color-purple: #47374E;
$color-red: #Ef5C54;
$color-blue: #041E41;
$color-soft-blue: #648C97;
$color-light-blue: #42B6E7;
$color-green: #188777;
$color-disabled: #999999;